name: Stale

permissions:
  issues: write

# yamllint disable-line rule:truthy
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      # The 60 day stale policy for issues
      # Used for:
      # - Issues
      # - No issues marked as no-stale or help-wanted
      # - No PRs (-1)
      - name: 60 days stale issues
        uses: actions/stale@v10.1.0
        with:
          days-before-stale: 60
          days-before-close: 7
          days-before-pr-stale: -1
          days-before-pr-close: -1
          operations-per-run: 250
          remove-stale-when-updated: true
          stale-issue-label: "stale"
          exempt-issue-labels: "no-stale,help-wanted,needs-more-information"
          stale-issue-message: >
            This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.
